/**
 * Once https://github.com/nextflow-io/nextflow/issues/5443#issuecomment-2445609593
 * is resolved and MAcWorP is updated to 24.10
 * we can use the following code to move the output files to the results folder
 */
// outputDir = macdii_output
// workflow.output.enabled = true
// workflow.output.mode = 'move'


profiles {
  docker {
    docker.enabled = true
    docker.runOptions = "--user=root"
    docker.fixOwnership = true
  }
}