manifest {
  name            = 'macdii'
  contributors    = [
    [
        name: 'Dirk Winkelhardt',
        affiliation: 'Ruhr University Bochum, Medical Bioinformatics',
        github: '@di-hardt',
        contribution: ['author', 'maintainer', 'contributor'],
        orcid: '0000-0001-8770-2221',
    ],
  ]
  homePage        = 'https://github.com/cubimedrub/macdii'
  description     = """Mass centric direct infusion inspector - find specific ions in direct infusion datasets """
  mainScript      = 'main.nf'
  defaultBranch   = 'main'
  nextflowVersion = '!>=24.10.6'
  version         = '0.0.5'
}


profiles {
  docker {
    docker.enabled = true
    docker.runOptions = "--user=root"
    docker.fixOwnership = true
    process {
      withLabel: macdii_image {
        container = "ghcr.io/cubimedrub/macdii:${manifest.version}"
        containerOptions = "--entrypoint \"\""
      }
      withLabel: msconvert_image {
        container = 'proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.25073-842baef'
      }
      withLabel: tdf2mzml_image {
        container = 'quay.io/medbioinf/tdf2mzml:0.4'
      }
    }
  }
}
